{% load static %}
<div class="container" style="padding-top: 3%; padding-left:5%; padding-right:5%" id="info">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <div class="row">
        <div class="col text-center" style="padding-bottom:5%">
          <img src="{% static 'img/shuttle.png'%}" alt="Shuttle" style="padding-bottom:3%">
          <br>
          Спейс-шатлы - пилотируемые корбали
        </div>
        <div class="col text-center" style="padding-bottom:5%">
          <img src="{% static 'img/telescope.png'%}" alt="Telescope" style="padding-bottom:3%">
          <br>
          Лучшее телескопическое оборудование
        </div>
      </div>
      <div class="row" style="padding-bottom:5%">
        <div class="col text-center" style="padding-bottom:5%">
            <img src="{% static 'img/moon.png'%}" alt="Moon" style="padding-bottom:3%">
            <br>
            Целимся на Луну и Марс
        </div>
        <div class="col text-center" style="padding-bottom:5%">
          <img src="{% static 'img/medal.png'%}" alt="Medal" style="padding-bottom:3%">
          <br>
          Золотая медаль по научным исследованиям
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mx-auto">
        <img src="{% static 'img/space.jpeg'%}" alt="Space" class="img-fluid" style="border-radius:15px;">
    </div> 
  </div>
</div>