{% load static %}
{% load thumbnail %}
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <div class="thumbnail-slider">
        {% for image in images %}
          {% thumbnail image.image 200x200 crop as im%}
          <div class="container text-center">
            <img class="thumbnail-image" src="{{ im.url }}" alt="{{ image.description }}">
          </div>
        {% endfor %}           
      </div>
    </div>
  </div>
</div>
<script>
    var slides = {{ slides }}
</script>